<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- URDF definition is so stupid we have to do that... -->

<xacro:macro name="reachy_yellow" >
  <color rgba="0.8 0.8 0.0 1"/>
</xacro:macro>

<xacro:macro name="reachy_grey" >
  <color rgba="0.8 0.8 0.8 1"/>
</xacro:macro>

<xacro:macro name="torsoblack" >
  <color rgba="0.5 0.5 0.5 1.0"/>
</xacro:macro>

<xacro:macro name="eyewhite" >
  <color rgba="1.0 1.0 1.0 1.0"/>
</xacro:macro>


<xacro:macro name="orbita2dmetal" >
  <color rgba="0.85 0.85 0.85 1.0"/>
</xacro:macro>


<xacro:macro name="orbita2dgrey" >
  <color rgba="0.8 0.8 0.8 1.0"/>
</xacro:macro>

<xacro:macro name="orbita3d_yellow" >
  <color rgba="0.8 0.8 0.0 1"/>
</xacro:macro>

<xacro:macro name="orbita3d_grey" >
  <color rgba="0.8 0.8 0.8 1"/>
</xacro:macro>


    <!-- <material name="reachy_yellow"> -->
    <!--     <color rgba="0.8 0.8 0.0 1"/> -->
    <!-- </material> -->
    <!-- <material name="reachy_grey"> -->
    <!--     <color rgba="0.8 0.8 0.8 1"/> -->
    <!-- </material> -->


    <!-- <material name="reachy_metal"> -->
    <!--     <color rgba="0.85 0.85 0.85 1.0"/> -->
    <!-- </material> -->

    <!-- <material name="torsoblack"> -->
    <!--     <color rgba="0.5 0.5 0.5 1.0"/> -->
    <!-- </material> -->

    <!-- <material name="eyewhite"> -->
    <!--     <color rgba="1.0 1.0 1.0 1.0"/> -->
    <!-- </material> -->


    <!-- <material name="orbita2dmetal"> -->
    <!--     <color rgba="0.85 0.85 0.85 1.0"/> -->
    <!-- </material> -->
    <!-- <material name="orbita2dgrey"> -->
    <!--     <color rgba="0.8 0.8 0.8 1.0"/> -->
    <!-- </material> -->


    <!-- <material name="orbita3d_yellow"> -->
    <!--     <color rgba="0.8 0.8 0.0 1"/> -->
    <!-- </material> -->
    <!-- <material name="orbita3d_grey"> -->
    <!--     <color rgba="0.8 0.8 0.8 1"/> -->
    <!-- </material> -->


</robot>
